/* 
Esto es un documento CSS. Aquí incorporaremos NORMAS
de estilo. Es decir, que la caja llamada "caja1",
por ejemplo, sea de color rojo. 
*/ 

* {
    background-color: gainsboro;
}


h1 {
    color: blue !important;
    background-color: goldenrod;
    border: 1px solid black;
    width: fit-content;
}

/* # hace referencia al ID. */
#caja1 {
    background-color: aqua;
}

#caja2 {
    background-color: darkkhaki;
}

#caja1 h1 {
  color: green;  
}

.cajaPequeña {
    background-color: antiquewhite;
    border: 5px solid black;
    margin: 10px;
    height: 300px;
    width: 300px;
}

/* PSEUDO-CLASE: PASAMOS RATÓN POR ENCIMA */

#caja1:hover {
    width: 300px;
    height: 300px;
} 

#caja1:active {
    background-color: blue;
  }

/* EJEMPLO HIJOS, NIETOS...

span {
    background-color: aqua;
  }
  
div > span {
    background-color: yellow;
}

div > span > span {
    background-color: rgb(148, 23, 226);
}

*/

